<h1 id="article-title">
	<i class="fa fa-folder-open" aria-hidden="true"></i>分类
</h1>
<h2 id="article-title">
	目前共计 <%- site.categories.length %> 个分类
</h2>

<div id="article-content">
	<ul>
        <% if (site.categories && site.categories.length) { %>
          <%
            var categories = [];
            site.categories.forEach(function(category){
              categories.push('<a href="' + config.root + category.path + '">' + category.name + '</a>');
            });
          %>
          <div class="categories">
            <%- categories.join(', ') %>
          </div>
        <% } %>
	</ul>
</div>
